button {
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

#wasm-terminal, #wasm-terminal > .xterm, #wasm-terminal > .xterm-viewport, #wasm-terminal > .xterm-screen {
  height: 100%;
  width: 100%;
  padding: 1px 2px;
}
