<!DOCTYPE html>
<html lang="en">
  <!--
    WebAssembly Shell

    This page is using the `@wasmer/wasm-terminal` package

    NPM Package: https://www.npmjs.com/package/@wasmer/wasm-terminal
    Source code: https://github.com/wasmerio/wasmer-js/tree/master/packages/wasm-terminal

    Progressive Web Application source: https://github.com/wasmerio/webassembly.sh
  -->
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
    <meta name="Description" content="WebAssembly.sh: an online WebAssembly terminal to run WASI modules directly on your browser">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@wasmerio" />
    <meta property="og:url" content="https://webassembly.sh" />
    <meta property="og:title" content="WebAssembly.sh" />
    <meta property="og:description" content="An online WebAssembly terminal to run WASI modules directly on your browser" />
    <meta property="og:image" content="https://webassembly.sh/assets/icon.png" />
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="/assets/wasm-terminal/xterm.css">
    <style>
      *, *::before, *::after {
        box-sizing: border-box;
      }

      html, body {
        font: 14px/1.21 "Times New Roman", Times, serif;
        font-weight: 400;
        margin: 0px;

        height: 100%;
        width: 100%;
        background-color: #000;
      }

      html {
        overflow: hidden;
        width: 100%;
      }

      body {
        position: fixed;
        overflow-y: auto;
      }
    </style>
    <% preact.headEnd %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129663180-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-129663180-3');
    </script>
	</head>
	<body>
    <noscript>Please enable JavaScript to use the Wasm Shell.</noscript>
		<% preact.bodyEnd %>
	</body>
</html>
