<!DOCTYPE html>
<html lang="en">
  <!--
    WebAssembly Shell

    This page is using the `@wasmer/wasm-terminal` package

    NPM Package: https://www.npmjs.com/package/@wasmer/wasm-terminal
    Source code: https://github.com/wasmerio/wasmer-js/tree/master/packages/wasm-terminal

    Progressive Web Application source: https://github.com/wasmerio/webassembly.sh
  -->
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
    <meta name="Description" content="PWA for the wasm-shell">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="assets/wasm-terminal/xterm.css">
    <style>
      html, body {
        font: 14px/1.21 "Times New Roman", Times, serif;
        font-weight: 400;
        margin: 0px;

        height: 100%;
        width: 100%;
        background-color: #000;
      }

      html {
        overflow: hidden;
        width: 100%;
      }

      body {
        position: fixed;
        overflow-y: scroll;
      }
    </style>
		<% preact.headEnd %>
	</head>
	<body>
    <noscript>Please enable JavaScript to use the Wasm Shell.</noscript>
		<% preact.bodyEnd %>
	</body>
</html>
